# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
tfplan
*.tfplan
override.tf
*_override.tf

# Terraform crash log
crash.log

# Sensitive variable files
*.tfvars
*.tfvars.json

# Python
__pycache__/
*.pyc
venv/
.env

# SSH keys
*.pem
*.key
poc_rsa

# OS
.DS_Store
Thumbs.db
*.swp
